@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@100,500;100,600;100,700;100,800;112.5,500;112.5,600;112.5,700;112.5,800&display=swap');

@import '../styles/fonts.css';

@tailwind components;
@tailwind base;
@tailwind utilities;

@layer base {
  input[type='number'] {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    }
  }
}

@layer utilities {
  .font-stretched {
    font-stretch: semi-expanded;
  }
}

:root {
  --font-apple: -apple-system, 'BlinkMacSystemFont';
  --font-fallback: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-base: var(--font-apple), var(--font-fallback), var(--font-emoji);

  --font-inconsolata: 'Inconsolata', var(--font-family-base);
  --font-clash: 'Clash Display';
  --font-guise: 'HK Guise';
}

html {
  @apply h-full overflow-hidden;
}

body {
  @apply bg-haqq-black font-guise h-full overflow-auto text-white antialiased will-change-auto;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #252528;
}

::-webkit-scrollbar-thumb {
  background: #ffffff26;
  border-radius: 11px;
  border: none;
}

#body_over {
  overflow-y: scroll !important;
}
